# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "ebz8kggi2nJVelG42era7AJ+bNcz4JY+RVLrAcXS6BTXHvh0yD0sJc6wGzD0/uInc63eyUn35LUXxWAkwrwzdnD8OOIHuLKMoSQEIR3vpiRgZXcupotqjWDeNp4DYdSuWnkPd/j+gOhJtFZDGjrjGfbKru2YPRyPTyHjzXxGrANLt+QRXDQsJHqZK7MgS5GdjFLFAzhVllI6e6JLcT+EKA2NVapTwyw8CWDKhuOynM36cAq3+cSdZzSPRoGafUesARyC6R/c8rlzFKRiTc+BUl9Zu27DTbhqg8EeCxD00erBicjJ1CeeDXvbj+9xteymix5guM6cl/aDVCpBAdiOdYGfHp+EYArnGYajN2JMXKbBRa9jX2UElIYjMatRmSNompOBAQKhGXN+yMNynZnpRF7Z2yE+O8T9Ji3i9pI8fMIQTGA/S9iOuBcNJJdOkHks2ADyoNgpSnSw5Hyg8Er2Iu9B32wiE4xIao2z4mn1rCDsUxh5ovFKI6qZ7hz29d7I+PTC7YvTdTD54kb/ua8UV+dl6EAZYXU3H+80pEN3Xk02We4Ht142jYmb2ZAodV9GLShWg6FooJgaVNnAjN7juh9IlHJ8t05ALQkTZKmpMaRoYFF+h7IyH2MXrtLAJ+VB1RlUi+T9Sa8mEKDSfE/RwretZp1yCVc2TaBAtbzBzoU="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-ci-setup=1
      source run_conda_forge_build_setup

script:
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml

  - upload_or_check_non_existence ./recipe conda-forge --channel=main -m ./.ci_support/${CONFIG}.yaml
